
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basketball Team Signup</title>
</head>
<body>
 <form method="POST" action="/team">
   <h1>Create a Basketball Team!</h1>
   <p>Team Name: <input type="text" name="Name"></p>
   <p>Coach: <input type="text" name="Coach"></p>
   <p>Point Guard: <input type="text" name="Pg"></p>
   <p>Shooting Guard: <input type="text" name="Sg"></p>
   <p>Small Forward: <input type="text" name="Sf"></p>
   <p>Power Foward: <input type="text" name="Pf"></p>
   <p>Center: <input type="text" name="C"></p>
   <input type="Submit" name="Submit" value="Submit" id="Submit" />
 </form>
</body>
</html>
